@page
@model IndexModel
@{

}
    <div class="no-bottom no-top" id="content">
        <div id="top"></div>

        <section data-bgimage="url(images/background/1.png) bottom" class="full-height vertical-center">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 wow fadeInRight" data-wow-delay=".5s">
                        <h4>Whatever business you do</h4>
                        <div class="spacer-10"></div>
                        <h1>SameSoft is what your <span class="id-color">business</span> need</h1>
                        <p class="lead">Software’s that Suits your need. We Provide <b>Risk Free</b> Trail Business Software.</p>

                    </div>

                    <div class="col-lg-6 offset-lg-1 wow fadeInLeft" data-wow-delay=".5s">
                        <img src="images/misc/1.png" class="img-fluid" alt="" />
                    </div>
                </div>
            </div>
        </section>

        <section id="section-highlight" data-bgimage="url(images/background/2.png) top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="text-center">
                            <h2>SameSoft Inc.</h2>
                            <p class="lead">Software’s that Suits your need. We Provide <b>Risk Free</b> Trail Business Software.</p>
                            <div class="spacer-20"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- feature box begin -->
                    <div class="col-lg-4 col-md-6 mb40 wow fadeInUp" data-wow-delay="0s">
                        <div class="feature-box f-boxed style-3">
                            <i class="bg-color i-circle fa fa-clock-o"></i>
                            <div class="text">
                                <a href="#"><h4>WE MAKE IT FASTER</h4></a>Application Design, Development, and TestingWeb , POS , General Business Services Applications and Client/Server Applications.
                                <br />
                                <br />

                            </div>
                            <i class="wm fa fa-clock-o"></i>
                        </div>
                    </div>
                    <!-- feature box close -->
                    <!-- feature box begin -->
                    <div class="col-lg-4 col-md-6 mb40 sq-item wow fadeInUp" data-wow-delay=".25s">
                        <div class="feature-box f-boxed style-3">
                            <i class="bg-color-2 i-circle fa fa-group"></i>
                            <div class="text">
                                <a href="service-single.html"><h4>OUR STAFF</h4></a>
                                Experienced Soft Developers (Programmers), Project Management, IT Infrastructure Services Training Teams, Customer Support Specialists, Marketing staff.
                            </div>
                            <i class="wm fa fa-group"></i>
                        </div>
                    </div>
                    <!-- feature box close -->
                    <!-- feature box begin -->
                    <div class="col-lg-4 col-md-6 mb40 sq-item wow fadeInUp" data-wow-delay=".5s">
                        <div class="feature-box f-boxed style-3">
                            <i class="bg-color-3 i-circle fa fa-line-chart"></i>
                            <div class="text">
                                <a href="service-single.html"><h4>MISSION, VISION & OBJECTIVES</h4></a>
                                Stepping to push nation into universe of Information technology. Achieve highest level of customer satisfaction by providing the best services.
                            </div>
                            <i class="wm i-circle fa fa-balance-scale"></i>
                        </div>
                    </div>
                    <!-- feature box close -->


                </div>
            </div>
        </section>







        <!-- content begin -->
       

            <section class="no-top">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="text-center">
                            <h2>Our Services</h2>
                            <p class="lead"></p>
                            <div class="spacer-20"></div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">

                        <div class=" col-md-6 ">
                            <div class="f-box f-icon-left f-icon-rounded">
                                <i class="fa fa-laptop bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>BUSINESS SOFTWARE SOLUTIONS</h4>
                                    <p>We provide range of business software products ready to use Including University Management system,Airline Reservation system , Agent and Cargo Acccounting System,Hospital and Hotel Management systems and Many More.</p>
                                </div>
                            </div>
                        </div>

                        <div class=" col-md-6 ">
                            <div class="f-box f-icon-left f-icon-rounded">
                                <i class="fa fa-paper-plane-o bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>CUSTOM SOFTWARE SOLUTIONS</h4>
                                    <p>Beside our Ready to Use Software Products ; we also Provide Custom Software Solutions.</p>
                                </div>
                            </div>
                        </div>
                        </div>
                    <div class="row">
                        <div class=" col-md-6 ">
                            <div class="f-box f-icon-left f-icon-rounded">
                                <i class="fa fa-line-chart bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>FULL ACCOUNTING SUPPORT</h4>
                                    <p>Almost all our Products Include full accounting Modules; From Asset and Capital Management to Journal and Standrad Financial Reports which makes easier to Manage daily Business Transactions Smooothly.</p>
                                </div>
                            </div>
                        </div>

                        <div class=" col-md-6 ">
                            <div class="f-box f-icon-left f-icon-rounded">
                                <i class="fa fa-object-group bg-color text-light"></i>
                                <div class="fb-text">
                                    <h4>WE PROVIDE USER-FRIENDLY SOFTWARE</h4>
                                    <p>We Provide Easy to use and User-Friendly Software Solutions which makes Business Transctions more easy and managable.</p>
                                </div>
                            </div>
                        </div>

                       

                        <div>
                        </div>
                    </div>
                </div>
            </section>


            


            

        
        <!-- content close -->








        <section id="section-testimonial" data-bgimage="url(images/background/2.png)  top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <h2><span class="uptitle id-color">Testimonial</span>What They Says</h2>
                            <div class="spacer-20"></div>
                        </div>
                        <div class="owl-carousel owl-theme wow fadeInUp" id="testimonial-carousel">
                            <div class="item">
                                <div class="de_testi opt-2">
                                    <blockquote>
                                        <p>Great support, like i have never seen before. Thanks to the support team, they are very helpfull. This company provide customers great solution, that makes them best.</p>
                                        <div class="de_testi_by"><img alt="" class="rounded-circle" src="images/people/1.jpg" /> <span>John, Pixar Studio</span></div>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="de_testi opt-2">
                                    <blockquote>
                                        <p>Great support, like i have never seen before. Thanks to the support team, they are very helpfull. This company provide customers great solution, that makes them best.</p>
                                        <div class="de_testi_by"><img alt="" class="rounded-circle" src="images/people/2.jpg" /> <span>Sarah, Microsoft</span></div>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="de_testi opt-2">
                                    <blockquote>
                                        <p>Great support, like i have never seen before. Thanks to the support team, they are very helpfull. This company provide customers great solution, that makes them best.</p>
                                        <div class="de_testi_by"><img alt="" class="rounded-circle" src="images/people/3.jpg" /> <span>Michael, Apple</span></div>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="de_testi opt-2">
                                    <blockquote>
                                        <p>Great support, like i have never seen before. Thanks to the support team, they are very helpfull. This company provide customers great solution, that makes them best.</p>
                                        <div class="de_testi_by"><img alt="" class="rounded-circle" src="images/people/4.jpg" /> <span>Thomas, Samsung</span></div>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="de_testi opt-2">
                                    <blockquote>
                                        <p>Great support, like i have never seen before. Thanks to the support team, they are very helpfull. This company provide customers great solution, that makes them best.</p>
                                        <div class="de_testi_by"><img alt="" class="rounded-circle" src="images/people/1.jpg" /> <span>John, Pixar Studio</span></div>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="de_testi opt-2">
                                    <blockquote>
                                        <p>Great support, like i have never seen before. Thanks to the support team, they are very helpfull. This company provide customers great solution, that makes them best.</p>
                                        <div class="de_testi_by"><img alt="" class="rounded-circle" src="images/people/2.jpg" /> <span>Sarah, Microsoft</span></div>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="de_testi opt-2">
                                    <blockquote>
                                        <p>Great support, like i have never seen before. Thanks to the support team, they are very helpfull. This company provide customers great solution, that makes them best.</p>
                                        <div class="de_testi_by"><img alt="" class="rounded-circle" src="images/people/3.jpg" /> <span>Michael, Apple</span></div>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="de_testi opt-2">
                                    <blockquote>
                                        <p>Great support, like i have never seen before. Thanks to the support team, they are very helpfull. This company provide customers great solution, that makes them best.</p>
                                        <div class="de_testi_by"><img alt="" class="rounded-circle" src="images/people/4.jpg" /> <span>Thomas, Samsung</span></div>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="section-fun-facts" class="pt60 pb60 text-light bg-color-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0s">
                        <div class="de_count">
                            <h3 class="timer" data-to="15425" data-speed="3000">0</h3>
                            <span>Website Powered</span>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".25s">
                        <div class="de_count">
                            <h3 class="timer" data-to="8745" data-speed="3000">0</h3>
                            <span>Clients Supported</span>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                        <div class="de_count">
                            <h3 class="timer" data-to="235" data-speed="3000">0</h3>
                            <span>Awards Winning</span>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".75s">
                        <div class="de_count">
                            <h3 class="timer" data-to="15" data-speed="3000">0</h3>
                            <span>Years Experience</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
<!-- content close -->
